<div class="container">
  <div class="page-header">
    <nav-bar></nav-bar>
  </div>
</div>

<div class="content">
  <div class="container" style="margin-bottom:15px;">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container" style="margin-top: 4rem;">
  <div class="page-footer">
    <div class="row">
      <hr/>
        <div class="col-8">
          <a href="#">Terms of Service</a> | <a href="#">Public</a>    
        </div>
        <div class="col-4 text-center">
          <p class="muted pull-right">© 2018 Potens Pokedex</p>
        </div>
      </div>
  </div>
</div>

